h1{
    text-align: center;
}

#tictacTable{
    margin: auto;
}

.field {
    cursor: pointer;
    width: 20px;
    height: 20px
}

.checked{
    background-color: darkgray;
}

table{
    border: 2px double black;
}

td{
    border: 1px solid black;
    text-align: center;
}
